/*
   Path of Light Yoga Studio
   Author: Krys
   Date: 3-31-2023

*/

/*
-------Body---------
*/

body { background-color: #40407A;
		margin: 0;
		color: #40407A;
		font-family: "Verdana", Arial, sans-serif;
}
/* Makes overall background color a whiteish color (egg shell white?) and the overall text a purpleish color, also picks speific fonts */
	
/*
-------Header and Footer---------
*/

header {
	background-image: url(sunrise.jpg);
	background-color:#40407A;
	color:#FFFFFF;
	background-size: 100% 100%;
	margin-top: 50px;
	font-size: 90%;
	min-height: 200px;

}
/* Its assigns a big sunrise picture to the header and make it big.*/

header a {
	text-decoration: none;
}

header a:visited {
  color:#FFFFFF;
}

header a:link {
  color:#FFFFFF;
}

header a:hover {
  color: #EDF5F5;
}

footer { text-align:center;
		font-size:small;
		font-style: italic;
}
			
/* Makes footer text smaller, center, and italicized */


/*
-----------Nav---------------
*/

nav {
	text-align: right;
	background-color: white;
	margin: 0;
	padding-top: 0.5em;
	padding-bottom: 1em;
	padding-right: 0;
	width: 100%;
	height: auto;
	z-index: 9999;
	position: fixed; top: 0; left: 0;
}

nav a {
	text-decoration: none;
}

/* Makes text on nav bar not underlined, in a white bar, and aligned to the right */

nav ul {
	margin: 0;
	list-style: none;
	padding-right:2em;
	font-size: 1.2em;
}

nav a:visited {
  color: #497777;
}

nav a:hover {
  color: #497777;
}

nav a:link {
  color: #3F2860;
}

nav li {
	padding-left: 2em;
	display: inline;
	text-decoration: none;
	width: 30%;
}


/* 
----------Lists----------- 
*/

li, dd { 
	font-size: 90%;
}
/* Shrinks list text */

/* 
----------Classes----------- 
*/

.home {
	height: 20vh;
	padding-top: 2em;
	padding-left: 10%;
	
}
.content {
	height: 20vh;
	padding-top:2em;
	padding-left: 10%;
}

/* Both deal with the header photo. Home is on Index and Content is on Class and Schedule*/

/* 
----------IDs----------- 
*/

#mathero { background-image: url(yogamat.jpg);
height: 300px;
background-size:100% 100%;
background-repeat: no-repeat;
display: none;
}

#loungehero { background-image: url(yogalounge.jpg);
height: 300px;
background-size:100% 100%;
background-repeat: no-repeat;
display: none;

}
/* Mat hero deals with the yoga mat photo on the class page. Lounge Hero deals with the lounge page on Schedule Page*/

#wrapper {
	background-color:#F5F5F5;
	padding: 2em;
}
/* Wraps around body to give box */

#flow {
	Display: block;
}

/*
-----------Table---------------
*/
table {
	border: 1px solid #40407A;
	margin-bottom: 1em;
	border-collapse: collapse;
	min-width: 400px;
}

td, th {
	padding:0.5em;
	border: 1px solid #40407A;
}

tr:nth-of-type(even) {
	background-color: #D7E8E9;
}

caption {
	margin: 1em;
	font-weight: bold;
	font-size: 120%;
}
/*styles table to have multiple color rows, purple border, and no cell padding. */
/* 
----------Form----------- 
*/

   form { 
		display: flex; 
        flex-flow: column nowrap; 
}    
		  
   input, datalist textarea { 
	margin-bottom: .5em; 
}
/* Makes single column form */
/* 
----------Misc----------- 
*/

h2 {
	margin: 0;
	
}

* {box-sizing: border-box; }

section {
	padding-left: .5em;
	padding-right: .5em;

}

/* 
----------Media Queries----------- 
*/

@media (min-width: 600px) {
	nav ul {
		justify-content: flex-end;
		flex-wrap: nowrap;
	}
	nav li {
		width: 7em;
	}
	section {
		padding-left: 2em;
		padding-right: 2em;
	}
	#mathero { 
		display: block;
		padding-bottom: 1em;
	}

	#loungehero {
		display: block;
		padding-bottom: 1em;
	}
	#flow {
		display: flex;
		flex-direction: row;
	}
	form {
		width: 60%;
		max-width: 40em;
		display: grid;
		grid-gap: 1em;
		gap: 1em;
		grid-template-rows: auto;
		grid-template-columns: 9em 1fr;
	}
	input[type="submit"] {
        grid-column: 2/3;
        width: 9em;
	}
}
/* For med displays */

@media (min-width: 1024px) {
	header {
		font-size: 120%;
	}
	nav {
		font-weight: bold;
	}
	.home {
		height: 50vh;
		padding-top: 5em;
		padding-left: 8em;
	}
	.content {
		height: 30vh;
		padding-top: 2em;
		padding-left: 8em;
	}
	#wrapper {
		margin: auto;
		width: 80%;
	}
}

/* For big displays */